@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h1>About KhumaloCraft Emporium</h1>
</header>

<div class="container">
    <div class="about">
        <h2>About KhumaloCraft Emporium</h2>

        <p>KhumaloCraft Emporium is a global e-commerce platform dedicated to showcasing and promoting handcrafted products from artisans worldwide. 
            We believe in celebrating the craftsmanship and cultural heritage of artisans by providing a platform where their unique creations can be 
            discovered and appreciated by discerning customers worldwide.
        </p>

        <p>Our mission is to connect artisans with a global audience, providing them with a platform to showcase their talent and craftsmanship. 
            We aim to create a sustainable marketplace that supports the livelihoods of artisans while offering customers an opportunity to discover 
            and purchase one-of-a-kind, ethically sourced products.
        </p>

        <p>At KhumaloCraft Emporium, we are committed to promoting fair trade practices, environmental sustainability, and cultural preservation. 
            Join us in celebrating the beauty of handmade craftsmanship and supporting artisans from diverse communities around the world.
        </p>
    </div>
</div>
