@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h1>Welcome to KhumaloCraft Emporium</h1>
    <p>Discover Handcrafted Treasures from Around the World</p>
</header>

<div class="container">
    <div class="hero">
        <h2>Welcome to KhumaloCraft Emporium</h2>
        <p>Explore my curated collection of unique, handcrafted works.</p>
    </div>

    <div id="my-works" class="my-works">
        <h2>Popular Items</h2>
        <div class="work">
            <img src="~/images/hanging_ceramic_pots.jpg" alt="Haging Ceramic Pots">
            <h3>Haging Ceramic Pots</h3>
        </div>
        <div class="work">
            <img src="~/images/zeus_statue.jpg" alt="Statue of Zeus">
            <h3>Statue of Zeus</h3>
        </div>
        <div class="work">
            <img src="~/images/ladscape_oil_painting_Nederland.jpg" alt="Nederland Oil Painting">
            <h3>Nederland Oil Painting</h3>
        </div>
    </div>
</div>
